/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0px;
  padding: 0;
  background-color: #f5f5f5;
}
header{
  background-color: #3400ff;
  color: #ffffff;
  height: 500px;
  margin: 0;
  padding: 0;
  
}
nav{
  float: right;
  padding-top: 2vh;
  padding-right: 10vh;
  cursor: pointer;
}
.nav-item{
  margin-right: 20px;
}
.nav-item-active{
  background-color: #fbfafe;
  color: #b090fc;
  padding: 5px 10px ;
  border-radius: .2rem;
}
svg{
  margin-top: 10px;
}
.logo{
  width: 15vh;
  margin-left: 10vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.header-text{
  margin-left: 10vh;
  float: left;
}

h2{
  margin: 10px 0px ;
  
}
.header-text>p{
  margin: 0px;

}
.header-image{
  float: right;
}

a:link{
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  }
.companies{
  display: flex;
  gap: 10vh;
  margin-left: 10vh;
  margin-top: 3vh;
  font-size: 16px;
}
.api{
  margin-left: 10vh;
}
h1{
  font-size: 40px;
}
.cards{
  display: flex;
  justify-content: space-between;
  margin-right: 10vh;
  flex-wrap: wrap;
  
  
}

.card-active{
  background-color: #ffffff;
  border-radius: .5rem;
  padding: 30px 20px;
  box-shadow: 0px 5px 15px #000000;
  margin-bottom: 5%;
}
.card-head-active{
  color: #6d49fc;
}
p{
  margin: 0px;
  padding: 0px;
}
.card{
  padding: 30px 20px;
  margin-bottom: 5%;
}
.blog-heading{
  margin-left: 10vh;
}
.blog-cards{
  display: flex;
  justify-content: center;  
  height: 50vh;
  margin-bottom: 10%;
}
.blog-card{
  display: flex;
  margin-bottom: 5%;

}
.blog-content{
  background-color: #ffffff;
  padding: 0px 5vh;
}
.blog-bottom{
  position: relative;
  top: 35vh;
  right: 15vw;
}
.blog-author{
  position: relative;
  top: 18vh;
  right: 15vh;
  width: 20vh;
  font-size: 15px;
  }

.faq-section{
  background-color: #e9edff;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 10vh;
 
}
.faq-content>h4{
  font-size: 14px;
}
.faq-content>button{
  background-color: #5a31fc;
  color: #ffffff;border: none;
  padding: 5px 15px;
}
.download-section{
  display: flex;
  justify-content: space-between;
  margin: 12vh;
}
.download-content>h1{
  font-size: 40px;
  font-weight: 600;
}
.download-content>h1>span{
  font-weight: 100;
}
form{
  background-color: #e9edff ;
  width: 50vh;
  border-radius:1.5rem ;
  display: flex;
  justify-content: space-between;
}
input{
  border: none;
  background-color: transparent;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 600;
  width:30vh;

}
form>button{
  border-radius:1.5rem ;
  background-color:#5a31fc ;
  border: #5a31fc;
  color: #ffffff;
  padding: 0px 30px;
}
.footer-section{
  background-color: #4719fd;
  display: flex;
  justify-content: space-between;
  padding: 5vh 10vh;
}
li{
  display: inline;
  color: #ffffff;
  
}
ul{
  text-decoration: none;
  padding-left: 0px;
}
.list{
  font-weight: 100;
  display: flex;
  justify-content: left;
  gap: 2vh;
}
.list-items:not(:first-child) {
  border-left: #ffffff 1px solid;
   padding-right: 10px;
}
.list-items{
  padding-left: 20px;
}
.footer-logos{
  margin-left: 30px;
}
@media screen and (max-width: 1420px){
  .blog-cards{
    display: flex;
    gap: 2%;
  }
  .blog-bottom{
    display: none;
  }
  .blog-author{
    display: none;
    }

}
@media screen and (max-width: 1080px){
  .header-image{
    display: none;
  }
  .blog-cards{
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
  }
  .faq-image{
    display: none;
  }
  .faq-section{
    padding-bottom: 2vh;
  }
  .download-section{
display: flex;
flex-direction: column;
  }
  input{
    width: 15vh;
  }
  form{
    width:30vh;
  }
  .footer-section{
    flex-direction: column;
  }
  .list{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 695px) {
 .blog-cards{
  display: none;
 }
    .blog-heading{
      display: none;
    }
  
}